#jeu{
	width: 400px;
	height: 400px;
	border: 2px black solid;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 50px 0px 0 -352px;
}

.fond{
	margin-bottom:-5px;
	z-index: 10;
	position: relative;
}

#vj{
	z-index: 100;
	position: absolute;
	top: 10px;
	left: 50px;
}

#vr{
	z-index: 80;
	position: absolute;
	top: 500px;
	left: 60px;
}

#score ,#restart , #pass {
	float: left;
    margin: 10px 0;
    background: #F44336;
    width: 112px;
    height: 15px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: monospace;
    letter-spacing: 2px;
}

#pass { background-color: #8BC34A; margin-left: 10px; width: 95px; }

#restart{
	margin-left: 10px;
	background-color: #2196F3;
	text-decoration: none;
	cursor: pointer;
	width: 65px;
}