#jeu{
  width: 400px;
  height: 400px;
  border: 2px black solid;
  overflow: hidden;
  position: relative;
}


.fond{
  margin-bottom:-5px;
  z-index: 10;
  position: relative;
}


#vj{
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 48px;
}


#vr{
  z-index: 80;
  position: absolute;
  top: 400px;
  left: 48px;
}

.btn-game , #score ,#pass {
  text-transform: uppercase;
  width: 100px;
  font-size: 12px;
  font-family: verdana;
  color: white;
  line-height: 22px;
}

.btn-game {
  background-color: #00BCD4;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

#restart { background-color: #e91e63; }

#score , #pass {
  background: #8BC34A;
  margin: 10px 0;
  text-align: center;
}