.scale {animation: scale 0.25s;}

.fadein {
  animation: fadein .25s;
}

.blink { animation: blink-animation 3s infinite;}

@keyframes blink-animation { to { opacity: 0;  visibility: hidden; }}

@keyframes scale {
  0% {transform: scale(0.5);}
  100% {transform: scale(1);}
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}