body,
#root {
  background-color: #242424;
  color: #000000;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.cm-s-monokai.CodeMirror, .cm-s-monokai .CodeMirror-gutters{ background-color: #242424 !important; }

main {
  height: 100% !important;  
  border-top: 2px solid #2d2d2d;
  border-bottom: 2px solid #2d2d2d;
}

.CodeMirror,
.react-codemirror2 {
  height: 100% !important;
  font-size: 16px;  
}

main>div {
  width: 100%;
  height: 100%;
  display: flex;
}

.code-result {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
}

.code-result pre {
  color: #ff3434 !important;
  font-size: 16px;
}

.gutter {
  border-left: 1px solid #2d2d2d;
  cursor: col-resize;
}

.cm-s-mdn-like .CodeMirror-gutters {
  border-left-color: #fff !important;
}

select {
  border: 0;
  text-transform: uppercase;
  outline: none;
}

nav{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2d2d2d !important;
}

nav a {color: #fff !important;}

.active-copy {color: rgb(32, 255, 32);}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}