:root {
  --bg-main :#001528 ;
  --bg-main-light:#15314b;
}

body,
#root {
  background-color: var(--bg-main);
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

#root {display: flex; justify-content: center; align-items: center; border: 4px solid var(--bg-main-light); }


  .btn {border-radius: 0; text-transform: uppercase; font-size: 14px; letter-spacing: 2px;}


main {
  width: 95.7%;
  height: 100% !important;    
  display: flex;
  flex-direction: column;
}

.CodeMirror,
.react-codemirror2 {
  height: 100% !important;
  font-size: 16px;  
}

.cm-s-monokai.CodeMirror, .cm-s-monokai .CodeMirror-gutters{ background-color: var(--bg-main) !important; }

main>div {
  width: 100%;
  height: 95.4%;
  display: flex;
}

.code-result {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
}

.code-result pre {
  color: #ff3434 !important;
  font-size: 16px;
}

.gutter {
  background-color: var(--bg-main-light);
  cursor: col-resize;
}

.cm-s-mdn-like .CodeMirror-gutters {
  border-left-color: #fff !important;
}

select {
  border: 0;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.active-copy {color: rgb(32, 255, 32);}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-main-light);
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

a {text-decoration: none !important;}

.fs-14 {font-size: 14px !important;}