body,
#root {
  background-color: #fff;
  color: #000000;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

main {
  height: 85% !important;
  border-bottom: 7px solid #424249 !important;
}

.CodeMirror,
.react-codemirror2 {
  height: 100% !important;
  font-size: 16px;
}

main>div {
  width: 100%;
  height: 100%;
  display: flex;
}

.code-result {
  padding: 10px 20px;
  font-size: 16px;
}

.code-result pre {
  color: #ff3434 !important;
  font-size: 16px;
}

.gutter {
  background-color: #424249 !important;
  cursor: col-resize;
}

.navbar {
  /* background-color: #424249 !important; */
  box-shadow: rgba(0, 0, 0, 0.568) 0px 1px 2px 0px;
  z-index: 99;
  border-radius: 0 !important;
  /* border-bottom: 2px solid #ff9900; */
}

.navbar-brand {font-family: 'Changa', sans-serif !important; font-weight: 600;}

.cm-s-mdn-like .CodeMirror-gutters {
  border-left-color: #fff !important;
}

.nav-item {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}