:root {
  --bg-main :#001528;
  --bg-main-light:#02203c;
  --light-bleu:#15314b;
}

body,
#root {
  background-color: #02203c;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

#root {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;   }  

/**************************/
main {
  width: 100%;
  height: 93.5%;    
  display: block;
}


.react-codemirror2 , .cm-s-monokai.CodeMirror{height: 100%;}
.cm-s-monokai.CodeMirror, .CodeMirror-gutters {background-color: var(--bg-main) !important;}
.CodeMirror-hints {
  display: block !important;
  background-color: var(--bg-main) !important;
  width: 25%;
  border: 2px solid var(--light-bleu) !important;
}

.CodeMirror-hints li {color: #dddddd !important; font-size: 16px; }

main>div {
  width: 100%;
  height: 93.5%;
  display: flex;
}

.code-result {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--bg-main);
}

.code-result pre {
  color: #ff3434 !important;
  font-size: 16px;
}

.gutter {
  background-color: var(--bg-main-light);
  cursor: col-resize;
}

/**************************/
iframe {border: 0; background-color: inherit;}

.btn-primary {background-color: var(--light-bleu);     border-radius: 0;
  border-color: var(--bg-main-light);
  font-size: 14px;
  box-shadow: 0 2px 12px -6px #042f57c9!important;
  letter-spacing: 2px;
}

select { border: 0; outline: none; }

ul { list-style: none; margin: 0; padding: 0; }

.active-copy {color: rgb(32, 255, 32);}

a {text-decoration: none !important;}

.fs-14 {font-size: 14px !important;}
.fs-35 {font-size: 35px !important;}

.ltsp {letter-spacing: 2px;}

.w-20 {width: 20%;}
.w-40 {width: 40%;}

/**************************/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-main-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/***************************/
@media screen and (max-width: 600px) {
  .display-1 {font-size: 5em;}
  .w-50,.w-25 {width: 80% !important;}
  .disp-none {display: none !important;}
}