* {
  box-sizing: border-box;
}

:root {
  --dark-bg-main:#112130;
    --light-bg:#1a2f46;
    --light-blue: #283e55;
    --muted: #65729b;
    --light-red:#ff8080;
    --dark-orange:#c47f00;
    --box-shad: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

body,
#root {
  margin: 0;
  background-color: var(--dark-bg-main);
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins",sans-serif;
}

footer {
  border-top: 1px solid var(--light-blue);
}
/**************************/

main {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden;
  border-bottom: 5px solid var(--light-bg);
}

main >div{
  width: 100%;
  display: flex;
}

main header {
  height: 40px;
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--light-blue);
  box-shadow: var(--box-shad);
}

main>div {
  height: calc(100% - 40px);
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line,.gutter {background-color: var(--light-bg);}
.gutter:hover {background-color: var(--light-blue); cursor: col-resize;}
.gutter-vertical:hover {cursor: row-resize !important;}

.ace-monokai,.ace_gutter {background-color: var(--dark-bg-main) !important;}
.ace_content,#UNIQUE_ID_OF_DIV {width: 100% !important;}

#preview {
  width: 100%;
  height: 50%;
  background-color: #fff;
  color: #000000;
  white-space: normal;
  overflow: auto;
}

.inline-list { height: 100%; list-style: none; margin: 0; padding: 0;}

.inline-list li {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--muted);
padding: 0 10px;
cursor: pointer;
}

select,.button,.link {
  background: var(--light-bg);
    color: #fff;
  border: none;
  border-radius: 4px;
    font-family: 'Google Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 24px;
    padding: 6px 10px;
cursor: pointer;
    pointer-events: initial;
    text-transform: none;
    transform: scale(1, 1);
    transition: opacity 300ms ease-in-out;
    box-shadow: var(--box-shad);
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

.link,select {box-shadow: none; }

a {text-decoration: none; color: #ffb224;}

.button:hover,button:hover,.link:hover,.inline-list li:hover {opacity: .8;}

.btn-rm:hover{
  color: #ff8080;
}

.form-group {width: 100%;text-align: left;}

.form-control {
  width: 100%;
  padding: 10px;
  display: block;
}

h1,h2,h3,p {width: 100%; display: block;}

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-flex-col {display: flex; flex-direction: column;}

.col-2>* {flex: 1 1 48%;}

.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}

.active-tab {
  color: #ffffff !important;  
}

.lead {font-size: 18px;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}
.vh-100 {height: 100vh;}
.w-50 {width: 50%;}

.mx-auto {margin: auto;}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}

.mb-10 {margin-bottom: 10px;}

.mr-10 {margin-right: 10px;}
.ml-10 {margin-left: 10px;}

.ml-3{ margin-left: 1.3rem!important;}
.mr-3{ margin-right: 1.3rem!important;}
.mb-3{ margin-bottom: 1.3rem!important;}

.mt-5 {margin-top: 50px;}

.p-10 {padding: 15px 25px;}
.plr-20 {padding: 0 20px !important;}

.py-3 {padding: 30px 0;}

.color-dark-orange{color: var(--dark-orange) !important;}
.color-red {color: #ff8080;}
.color-muted {color: var(--muted);}

.color-white {color: #ffffff !important;}

.disp-none {display: none;}

.fs-18 {font-size: 18px !important;}
.fs-45 {font-size: 45px !important;}

.border-left {border-left: 1px solid var(--light-blue);}
.border-right {border-right: 1px solid var(--light-blue);}

.rounded {border-radius: 50%;}

.text-center {text-align: center;}

.overflow-auto {overflow: auto;}

.display-5 {font-size: 50px; }
/***************************/
.editor {width: 100%; position: relative;}
.menu {
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9999;
}
/************** Console **************/
.linter {
  background-color: var(--dark-bg-main);color: var(--light-red); }

.linter ul {
  margin: 0;
  padding: 10px 0 !important;
  height: calc(100% - 35px);
  list-style: none;
  overflow: auto !important;
}

.linter li { 
  padding: 5px 15px; 
  white-space: pre;
}

.linter p {
  height: 35px;
  margin: 0;
  padding: 7px 15px;
  color: #fff;
  box-shadow: var(--box-shad);
}
/****************************/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/***************************/
@media screen and (max-width: 600px) {
  .disp-none-sm {
    display: none !important;
  }
}