.snackbar {
  width: auto;
  position: fixed;
  bottom: 20px;
  left: 43%;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  z-index: 999999;
  box-shadow: var(--box-shad);
}

.blur {
  backdrop-filter: blur(5px);
}

.br7 {border-radius: 7px;}
/****************************************/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  padding: .5rem 0;
  margin: .1rem 0 0;
  font-size: 1rem;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-item:hover {
  background-color: rgba(212, 212, 212, 0.411);
}
