.snackbar {
  max-width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-transform: uppercase;
  z-index: 999999;
}

hr {
  border: .1em solid var(--gray);
}
/****************************************/
.dropdown {
  background-color: transparent;
}

.dropdown-menu {
  background-color: var(--dark);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  padding: .5rem 0;
  margin: .1rem 0 0;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid var(--gray);
  border-radius: 7px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .5rem 1.2rem;  
  white-space: nowrap;
  transition: background-color 0.25s;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-item:hover {
  background-color: rgba(212, 212, 212, 0.411);
}
