.dropdown {
  background-color: transparent;
}

.dropdown-menu {
  display: none;
  border: 1px solid var(--gray);
  position: absolute;
  top: calc(100%);
  background: var(--dark);  
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  padding: 8px 0px;
  transition: transform .25s ease;    
  transform: translate3d(0, 32px, 0) rotateX(-14deg) rotateY(12deg);
  backface-visibility: hidden;
  pointer-events: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .5rem 1.2rem;  
  white-space: nowrap;
  transition: background-color 0.25s;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}

.dropdown-item:hover {
  background-color: rgba(212, 212, 212, 0.411);
}