.dropdown {display: initial;}

.dropdown-menu {
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: .5rem 0;
    margin: .5rem 0 0;
    font-size: 1rem;
    list-style: none;
    background-clip: padding-box;
    border-radius: .25rem;
}

.dropdown-item {
  color: var(--white);
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu{  display: flex; flex-wrap: wrap;}

.dropdown-item:hover { background-color: rgba(212, 212, 212, 0.411);}