.d-block {display: contents;}
.d-none {display: none !important;}

.d-flex{display: flex;}

.flex-column {flex-direction: column;}

.vertical-align{display: flex; align-items: center;}
.horizontal-align{display: flex; flex-direction: column; justify-content: center; }

.flex-wrap {flex-wrap: wrap;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}

.align-center {align-items: center;}
.align-start {align-items: flex-start;}