.jumbotron {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #043c70d3 0%, #02203cd2 100%), url(../img/bg.jpg);
  color: #ffffff;
  overflow-y: auto;
}

.jumbotron h1 {
  color: var(--warning);
  font-family: 'Changa';
  text-transform: uppercase;
}

.btn-modal {
  position: fixed;
  top: 12px;
  right: 15px;
  z-index: 9;
  cursor: pointer;
}

.menu-snippets {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--bg-main);
  overflow-y: auto;
}

.menu-snippets li {
  background-color: inherit;
  text-align: left;
  font-size: 14px;
  border: 1px solid rgb(43, 43, 43);
}