.container h1 {font-size: 35px;}

.section {padding:10px 0; margin: 40px 0;}
.section img {width: 100%; object-fit: cover;}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  height: 60px;
  font-size: 16px;
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, .2);
  overflow-x: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .nav-link {  
  color: var(--muted);
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
}

nav .nav-link:hover {
  color: #ffffff;
}

footer {
  height: 60px;
  box-shadow: 0 -1px 14px 0 rgba(0, 0, 0, .2);}

