:root {
  --dark:#00264c;
  --light-dark:#153b5f;
  --secondary:rgb(189, 189, 189);
  --black:#001d36;
  --white:#fff;
  --danger:#dc3545;
  --bleu:#2b6cb0;
  --warning:#ffc400;
  --green:#00e700;
  --dark-transp:#000000a8;
  
  --box-shad:0px 5px 18px rgb(0 0 0 / 20%);
  --light-shadow:0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

* { box-sizing: border-box; scrollbar-width: thin; scrollbar-color: var(--black) #ffffff;}

html {height:100%;}

body {  
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Noto Sans','Courier New', Courier, monospace;
}

.container {
  padding: 20px 80px;
}
/************************************************/
p,.badge,.btn,label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin: 0;
}

pre {max-height: 130px; padding: 15px; white-space: pre-wrap; word-break: keep-all}

h5,h1,.btn,.badge ,label{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.light-shadow,.btn-dark,.badge{
  box-shadow: var(--light-shadow);
}

.form-contact{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1)!important;
}

label { max-width: 100%; display: inline-block;  
  margin-bottom: .5rem; font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-tab {background-color: var(--dark-transp) !important;}
/*****************************************/
.modal{
  width: 100vw; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-transp);
  padding: 70px;
  overflow: hidden;
  z-index: 99999;
}

.modal-content {
  min-width: 75%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: auto;
}

.btn-close-modal {position: absolute; right: 0; top: 0; font-size: 35px !important;}
/********************************************/
.badge {padding: 3px 10px; border-radius: .25rem; font-size: 12px;}

input,select,textarea {
  display: block;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  border-radius: .25rem;
  border: 0;
}

textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  background-color: var(--bleu);  
  color: var(--white);  
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .275rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
  transition: opacity .15s ease-in-out;
}

a{ text-decoration: none;}

.btn:hover,.fa-play-circle:hover { opacity: 0.9;}

.form-control {width: 100%; padding: .45rem .75rem; border:1px solid #d4d4d4;}

.input-search { padding: .51rem .75rem; }

.alert {padding: 15px; margin: 15px 0; }

blockquote {font-style: italic;}

table {width: 100%;}
th {text-transform: uppercase;}
td,th {border: 1px solid var(--dark); padding: 10px;}
/****************************************/
.dropdown-menu {
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: .5rem 0;
    margin: .1rem 0 0;
    font-size: 1rem;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu{  display: flex;}

.dropdown-item:hover { background-color: rgba(212, 212, 212, 0.411);}
/****************************************/
.list-group {min-width: 250px;}
.list-group>li { border: 0; border-bottom: 1px solid #363636;}

ul { margin: 0; padding: 0; list-style: none; }

.cp {cursor: pointer;}

.rounded {border-radius: 50%;}

.rounded-0 {border-radius: 0;}
/**********************************/
.tooltip:hover::before {
  content: "";
  border: solid transparent;
  border-bottom-color: var(--white);
  border-width: 8px;
  position: absolute;
  top: 15px;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  margin: 0;
  background: var(--black);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  right: 0;
  top: 30px;
  z-index: 9999;
  font-size: .9em;
  text-align: center;
  box-shadow: var(--light-shadow);
  text-transform: uppercase;
}

.fadein {
  animation: fadein .25s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.monaco-editor {
	width: 100%;
	height: 500px;
	overflow: hidden;
}