* {
  box-sizing: border-box;  
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}

:root {
  --danger: #ff5162;
  --warning: #ffc400;
  --green: #01bf00;
  --blue: #3f51b5;
  --box-shad: 0px 5px 18px rgb(0 0 0 / 20%);
  --light-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

[data-theme="dark"] {
  --dark: #1e1e1e;
  --black: #000;
  --gray: #303030;
  --light: #3f3f3f;
  --white: #fff;
}

[data-theme="light"] {
  --dark: #fff;
  --black: #f0f0f0;
  --gray: #dfdfdf;
  --light: #ececec;
  --white: #000;
}

html { height: 100%; }

body {
  margin: 0;
  background-color: var(--gray);
  color: var(--white);  
  font-size: 1rem;
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
  letter-spacing: 0.6px;
}
/*****************************************/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-transp);
  padding: 70px;
  overflow: hidden;
  z-index: 99999;
}

.modal-content {
  min-width: 75%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: auto;
}

.btn-close-modal {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 35px !important;
}
/********************************************/
label {
  max-width: 100%;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input,
select {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  border: 0;
  padding: .7rem 1rem;
  background-color: var(--white);
}

p,
.btn,
label {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  font-weight: 400;
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .6rem 1.3rem;
  line-height: 1.5;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: opacity .15s ease-in-out;
}

.btn:disabled,
.btn[disabled],
button:disabled,
button[disabled]{
  background-color: var(--black);
}

a {
  text-decoration: none;
}

.form-control {
  width: 100%;
  padding: .45rem .75rem;
  border: 1px solid #d4d4d4;
}

.alert {
  padding: 15px;
  margin: 15px 0;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

td,
th {
  border: 2px solid var(--black);
  padding: 10px;
}
/****************************************/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shadow { box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); }

.cp {
  cursor: pointer;
}

.fadein {
  animation: fadein .25s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.monaco-editor {
  width: 100%;
  height: 500px;
  overflow: hidden;
}