* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}

:root {
  --danger: #b90c0c;
  --warning: #bd8e00;
  --green: #108658;
  --blue: #570fff;
  --shadow: 0px 5px 18px rgb(0 0 0 / 20%);
  --light-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

[data-theme="vs-dark"] {
  --dark: #282a36;
  --black: #14151b;
  --gray: #3f3f3f;
  --light: #3f3f3f;
  --white: #fff;
  --transparent: #00000040;
}

[data-theme="vs-light"] {
  --dark: #fff;
  --black: #f0f0f0;
  --gray: #dfdfdf;
  --light: #f7f8fa;
  --white: #000;
  --transparent: #c7c7c740;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
  letter-spacing: 0.6px;
}

.container {
  padding-left: 90px;
  padding-right: 90px;
}

.markdown {
  height: calc(100% - 45px);
  padding: 0 20px;  
  overflow: auto;
}

.markdown * {
  text-transform: initial;
}

.markdown p {
  text-align: justify;
}

/*****************************************/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--transparent);
  padding: 70px;
  overflow: hidden;
  z-index: 99999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: auto;
}

.btn-close-modal {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 35px !important;
}

/********************************************/
label {
  max-width: 100%;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input,
select {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border: 0;
  padding: .7rem 1rem;
  background-color: var(--gray);
  color: var(--white);
}

p,
.btn,
label {
  font-size: 0.9rem;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .6rem 1.3rem;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: opacity .15s ease-in-out;
}

.btn:disabled,
.btn[disabled],
button:disabled,
button[disabled] {
  background-color: var(--transparent);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: .1em solid var(--gray);
}

.form-control {
  width: 100%;
  padding: .55rem .75rem;
  border: 1px solid #d4d4d4;
}

.alert {
  padding: 15px;
  margin: 15px 0;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

td,
th {
  border: 2px solid var(--gray);
  padding: 10px;
}

/****************************************/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blur {
  backdrop-filter: blur(1.5px);
}

.br7 {
  border-radius: 7px;
}

.shadow {
  box-shadow: var(--shadow)
}

.cp {
  cursor: pointer;
}

.fadein {
  animation: fadein .25s;
}

.rounded {
  border-radius: 50%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.monaco-editor {
  width: 100%;
  height: 500px;
  overflow: hidden;
}