.cs-container {
  height: 100%;
  display: flex;  
}

.gutter-vertical {
  border: 0 !important;
  cursor: row-resize;
  background-color: transparent !important;
}

.cs-container>div {
  display: flex;
  height: 100%;
  width: 100%;
}

.cs-output>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

iframe {
  background-color: inherit;
  border: 0;
  color: #ffffff;
}

.linter {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f58771;
  background-color: var(--bg-main-light);
  border-radius: 5px;
  overflow: auto;
}

.linter .header {
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}

.linter li {
  font-size: 14px;
  padding: 7px 10px;
}
