.cs-container {
  height: 100%;
  display: flex;
}

.gutter-vertical {
  border: 0 !important;
  cursor: row-resize;
  background-color: transparent !important;
}

.cs-container>div {
  display: flex;
  height: 100%;
  width: 100%;
}

.cs-output>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.linter {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f58771;
  background-color: var(--bg-main-light);
  border-radius: 5px;
  overflow: auto;
}

.linter .header {
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}

.linter li {
  font-size: 14px;
  padding: 7px 10px;
}

.output {
  position: relative;
}

.btn-cs-run {
  position: absolute;
  top: 10px;
  left: -55px;
  border-radius: 50%;
  background-color: var(--bg-main-light);
  color: #dddddd;
  border: 0;
  padding: 7px 12px;
  z-index: 5;
}

.btn-cs-run:hover {
  color: #ffffff;
}

.elapsed-time {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #2d2d2dc4;
  z-index: 5;
  font-size: 10px;
  letter-spacing: 2px;
}