.navbar { 
  display: flex;
  align-items: center;
justify-content: space-between;
font-size: 14px;
  padding:.5rem 80px;
  background-color: var(--dark);
 text-transform: uppercase;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 20%);
}

.navbar-brand { display: flex; align-items: center; min-width: 200px;}

.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {color: var(--white); text-decoration: none;}

.nav-item {padding: .5rem;}

.navbar-toggler {display: none;}

.lg {
  height: calc(1.3em + 1rem + 2px);
    padding: .3rem 1rem;
    font-size: 1.2rem;
}