nav {
  font-size: 14px;
  height: 100%;
  max-width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2d2d2d !important;
}

nav a,
nav div {
  color: #f1f1f1 !important;
}

nav a:hover,
nav div:hover {
  color: #c47f00 !important;
}

nav a,
nav div {
  cursor: pointer;
}