@media (max-width: 992px) {
  .d-md-none {  display: none !important;}
  .navbar {flex-wrap: wrap;}
  .navbar-toggler {display: block;}
  .navbar-collapse {    display: block; flex-basis: 100%;}
  .navbar-collapse ul {flex-direction: column; align-items: flex-start;}
  .nav-item {padding-left: 0;}
}

@media only screen and (max-width: 600px) {
  .d-none,.d-sm-none {  display: none !important;}
  .d-sm-block {  display: block !important;}

  .vertical-align {display: flex; flex-direction: column;}

  .container,footer {padding: 15px;}

  .navbar {padding: .5rem 15px;}
  .modal{ padding: 15px; }  

  h1 {font-size: 35px; }

  .lead {font-size: 14px;}

  .text-sm-center {text-align: center;}

  .display-4 {font-size: 55px;}
}
