@media only screen and (max-width: 600px) {

  body, button, p {font-size: 0.8rem;}

  .d-sm-none {  display: none !important;}

  .vertical-align {display: flex; flex-direction: column;}

  .navbar {padding: .5rem 15px;}

  .modal{ padding: 15px; }  
}
