@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 600px) {
  .col-2>* {width: 100% !important;}

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .w-50 {width: 100%;}
}