nav {
  font-size: 14px;
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--bg-main-light);
  border: 2px solid var(--bg-main);
}

nav a,
nav div {
  color: #f1f1f1 !important;
}

nav a:hover,
nav div:hover {
  color: #c47f00 !important;
}

nav a,
nav div {
  cursor: pointer;
}

nav select { background-color: var(--bg-main-light); color: #fff; font-size: 12px; }

@media screen and (max-width: 600px) {
  nav {display: none;}
}