.side-files {
  height: 100%;
  width: 230px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(36, 37, 39);
  color: #ffffff;
  font-size: 12px;
  display: flex;
  overflow: auto;
  transition: right .25s;
}

.close-side-files {
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-side-files:hover {
  background-color: rgb(45, 112, 255);
}

.side-files .list-group-item {
  background-color: inherit;
}

.side-files .list-group-item:first-child {
  background-color: rgb(45, 112, 255) !important;
  cursor: pointer;
}

.side-files button {background-color: inherit; border: inherit;}