.position-relative{position: relative;}
.position-absolute {position: absolute;}

.h-100 { height: 100%;}
.w-100{ width: 100%;}

.mx-auto {margin: auto;}

.m-0 {margin: 0 !important;}
.mt-0 {margin-top: 0;}

.p-0 {padding: 0 !important;}
.pr-0 {padding-right: 0;}

.mt-1 {margin-top: .45rem;}
.mr-1 {margin-right: .45rem;}

.mb-2 {margin-bottom: .6rem;}
.mr-2 {margin-right: .6rem;}
.ml-2 {margin-left: .6rem;}

.mb-3 {margin-bottom: 1rem!important}
.mr-3 {margin-right: 1rem;}
.mb-3 {margin-bottom: 1rem;}
.mt-3 {margin-top: 1rem;}
.ml-3 {margin-left: 1rem;}

.mb-4 {margin-bottom: 1.5rem;}

.mr-5 {margin-right: 3rem;}
.mb-5 {margin-bottom: 3rem;}
.mt-5 { margin-top: 3rem!important;}

.pr-2 {padding-right: .5rem;}
.pl-2 {padding-left: .5rem!important;}

.pl-3 {padding-left: 1rem;}
.pr-3 {padding-right: 1rem;}
.pb-3 {padding-bottom: 1rem;}

.py-3 {padding-top: 1rem; padding-bottom: 1rem;}

.pl-4 {padding-left: 1.5rem!important;}
.pr-4 {padding-right: 1.5rem!important;}

.pl-5 {padding-left: 3rem;}
.pr-5 {padding-right: 3rem;}

.py-5 {padding-top:3rem; padding-bottom: 3rem;}

.mx-auto {margin: auto;}
