.tabs {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #afafaf;
}

.tab {
  width: 100%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.tab:hover { background-color: #252523; color: #ffffff; }

.active-tab {
  background-color: #1a1b18;
  color: #72a24d;
}

.btn-close-tab:hover {
  color: #ff1313;
}

.btn-plus-tab {
  background-color: inherit !important;
  color: #f1f1f1;
  border: 0;
  padding-right: 10px;
  border-radius: 0;
  font-size: 14px;
  outline: none !important;
}

.btn-plus-tab:hover {
  color: #fff;
}

.bg-blue-sky {
  background-color: #72a24d!important;
  color: #fff;
}

.w-90 {
  width: 90%;
}

.w-10 {
  width: 10%;
}