.tabs {
  font-size: 12px;
  width: 100%;
  display: flex;
  color: #ff9900;
  background-color: #424249 !important;
  padding-left: 40px;
}

.tab {
  line-height: 3.5;
  padding-left: 7px;
  padding-right: 7px;
  border-top: 2px solid #424249;
  border-bottom: 2px solid #424249;
}

.active-tab {
  background-color: #fff;
  color: #000000;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ff9900;
}

.btn-close-tab {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-close-tab:hover {
  color: #ff1313;
}

.btn-plus-tab {
  border: 0;
  background-color: inherit;
  color: #ff9900;
  outline: none !important;
}

.btn-plus-tab:hover {
  color: #fff;
}


.w-90 {
  width: 90%;
}

.w-10 {
  width: 10%;
}