.text-uppercase {text-transform: uppercase;}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-jusitfy { text-align: justify; }

.text-truncate {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap { white-space: nowrap;}

.ltsp2 {letter-spacing: 2px;}

.fs-22 {font-size: 22px;}