.navbar { 
  height: 50px;
  background-color: var(--dark);
  padding: 0 40px;  
font-size: 14px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
 text-transform: uppercase;
 box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.navbar-brand { font-size: 22px;     color: #e91e63 !important; display: flex; align-items: center; font-weight: 600;}

.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {color: var(--white); text-decoration: none;}

.nav-item {padding: .5rem;}

.navbar-toggler {display: none;}
