main {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  border-left: 10px solid var(--dark);
  border-right: 10px solid var(--dark);
}

main header {height: 45px !important;}

select,
.nav-playground button,
.nav-playground a {
  background-color: var(--light-dark);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
/***********************/
.playground { height: calc(100% - 55px);}


pre {background-color: var(--black); 
  margin: 0; height: calc(100% - 45px) !important; overflow: auto; 
  line-height: 1.7;
}

/***************************/
.menu {
  border-radius: 4px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-dark);
}

.menu button {
  background-color: inherit;
  font-size: 20px;
  border-radius: 0;
}
/***************************/
.editor {
  background-color: var(--light);
}

.gutter {
  background-color: var(--dark);
}

.gutter:hover {
  cursor: col-resize;
}

.gutter-vertical:hover {
  cursor: row-resize !important;
}
