:root {
  --dark-bg-main: #171718;
    --light-bg: #292c2e;
}

.react-live >div{
  width: 100%;
  display: flex;
  background-color: var(--light);  
}

.react-live header {
  height: 40px;
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--gray);
  box-shadow: 0 4px 5px 0 rgb(0 0 0/22%), 0 2px 0 0 rgb(0 0 0/0);
}

.react-live >div {
  height: calc(100% - 40px);
}

.gutter {background-color: var(--light-bg);}
.ace-monokai,.ace_gutter {background-color: var(--dark-bg-main) !important;}

pre,#preview {
  width: 100%;
  height: 50%;
  color: var(--dark);
}

pre {
  padding: 10px;
  margin: 0;
  background-color: var(--dark-bg-main);
  color: var(--danger);}