.sidebar {
  height: 100%;
  width: 300px;
  background: #343a40;
  position: fixed;
  bottom: 0;
  right: 0;  
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  z-index: 999;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.sidebar .sidebar-content {
  width: 100%;
  height: 100%;
  position: relative;
  display:block;
  overflow: auto;
}

.sidebar__toggle {
  position: absolute;
  top: 4.5em;
  left: 0;
  background-color: #ffffff;
  color: #343a40;
  transform: translateX(-100%);
  padding: 1em .5em;
  border: 0;
  border-radius: .25em 0 0 .25em;
}

.sidebar-open {
  transform: translateX(0);
}

summary {
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
}

.sidebar li:first-child { border-top: 1px solid var(--dark);}
.sidebar li {padding: 10px 15px; border-bottom: 1px solid var(--dark);}
.sidebar li:hover {background-color: var(--light-blue);}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 90%;
  }
}