* {
  box-sizing: border-box;
}

:root {
  --dark:#171c21;
    --dark-blue:#252e38;
    --light-blue: #29323f;
    --muted: #65729b;
    --white:#fff;
    --light-red:#ff8080;
    --yellow:#f0ec00;
    --box-shad: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

body,
#root {
  margin: 0;
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins",sans-serif;
}

footer {
  border-top: 1px solid var(--light-blue);
}
/**************************/
main,.navbar {padding:.5rem 40px;}
/******************************************/

ul {list-style: none; margin: 0; padding: 0;}

button,.btn, .link, select {
  background: var(--dark-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 24px;
  padding: 6px 10px;
  cursor: pointer;
  pointer-events: auto;
  text-transform: none;  
  transform: scale(1);
  transition: opacity .3s ease-in-out; 
  text-decoration: none;
  text-transform: uppercase;  
  outline: none;
}

.snackbar {
  width: auto;
  background-color: var(--light-blue);
  position: fixed;
  bottom: 20px;
  left: 43%;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  z-index: 999999;
  box-shadow: var(--box-shad);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #171c2194;
  z-index: 99999;
  overflow: auto;
}
.modal>div {position: relative; overflow: auto;}
.btn-close-modal {position: absolute; right: 10px; top: 10px;}

label {margin-bottom: 10px; text-transform: uppercase;}
.form-control {display: flex; flex-direction: column;}

.box-shad { box-shadow: var(--box-shad);}

h3{text-transform: uppercase; font-size: 22px;}

.p-0 {padding: 0;}
.p-10 {padding: 10px;}
.p-20 {padding: 20px;}
.m-0 {margin: 0;}
.mt-0 {margin-top: 0;}

.mb-3 {margin-bottom: 10px;}
.mb-5 {margin-bottom: 30px;}
.mt-5 {margin-top: 30px;}
.mr-3 {margin-right: 10px;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}
.w-50 {width: 50%;}

.bg-inherit {background-color: inherit;}
.bg-dark {background-color: var(--dark); color: var(--white);}
.bg-white {background-color: var(--white); color: var(--dark);}

.cp {cursor: pointer;}

.d-none{display: none !important;}
.d-block{display: block;}
.d-flex{display: flex;}

.vertical-align {display: flex; align-items: center;}
.justify-center {justify-content: center;}

.flex-wrap {flex-wrap: wrap;}

.overflow {overflow: auto;}
/****************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}

/***************************/
@media screen and (max-width: 600px) {
  .disp-none-sm {
    display: none !important;
  }
}